<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519982968515-uq1vrec5kg6odekgqase6tmquomir5uv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519982968515-uq1vrec5kg6odekgqase6tmquomir5uv</string>
	<key>API_KEY</key>
	<string>AIzaSyCnn2eERUF3zlsZSJ2Zy2K9ZrZHsBMlgYk</string>
	<key>GCM_SENDER_ID</key>
	<string>519982968515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AdmodExample</string>
	<key>PROJECT_ID</key>
	<string>react-native-ngquangan</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-ngquangan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519982968515:ios:e43bf327b4a3487b</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-ngquangan.firebaseio.com</string>
</dict>
</plist>